/*  wrapper */

.landing {
  padding: 0 200px;
  width: 1200px;
  margin: 0 auto;
  background-color: #e8e7e7;
}

.hero-title {
  display: block;
}

h1 {
  font-family: 'Avenir Next';
  color: white;
  font-size: 46px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Avenir Next';
  color: white;
  letter-spacing: 2.5px;
  line-height: 2.5em;
}

p {
  font-family: 'Avenir Next';
  font-size: 20px;
  color: white;
  line-height: 1.8em;
}
