/* fonts */

h1 {
  font-family: 'Avenir Next';
  color: white;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Avenir Next';
  color: black;
  letter-spacing: 2.5px;
  line-height: 2.5em;
}

p {
  font-family: 'Avenir Next';
  font-size: 20px;
  color: black;
  line-height: 1.8em;
}

/*  wrapper */

.landing {
  width: 100%;
  margin: 0 auto;
}

.hero-title {
  display: block;
  padding: 250px 0;
  text-align: center;
  font-size: 64px;
    position: relative;
}

.selling-points {
  background-color: white;
  display: table;
  vertical-align: bottom;
}

.selling-points-left {
  text-align: left;
  padding: 50px 250px 50px 100px;
  background-color: white;
  display: table-cell;
  vertical-align: bottom;
}

/* Album Covers */

.selling-points-right{
  display: table-cell;
  vertical-align: bottom;
}

.album-covers-01 {
  width: 215px;
  transform:translate(-50%,-41.5%);
  vertical-align: top;
}

.album-covers-02 {
  width: 215px;
  transform: translate(-51%,-41.5%);
  margin-bottom: 0px;
  vertical-align: top;
}

.album-covers-03 {
  width: 215px;
  transform: translate(-100%,-42%);
}

.album-covers-04 {
  width: 215px;
  transform: translate(-50%,-50%);
}
