.player-bar {
  width: 100%;
  display: block;
  padding: 50px 0 50px 0px;
  background: hsla(0, 0%, 50%, 0.1);
}

#buttons {
  display: inline-block;
  width: 200px;
  padding: 0 50px 0 50px;
}

#time-control {
  display: inline-block;
  text-align: left;
  width: 665px;
  padding-left: 25px;
}

#volume-control {
  display: inline-block;
  text-align: left;
  width: 200px;
}
