.App-title {
  display: block;
}

body {
  background-image: url(/assets/images/blurred_backgrounds/blur_bg_3.jpg);
}

/* album info */

#album-info {
  display: table;
}

#album-info img {
  width: 180px;
  display: block;
  float: left;
  padding: 50px 30px 50px 100px;
}

.album-details {
  text-align: left;
  float: right;
  padding: 75px 50px 50px 0px;
  letter-spacing: 1px;
  line-height: 0.3em;
}

.album-details #album-title {
  font-size: 1.25rem;
  display: block;
}

.album-details .artist {
  font-size: 1rem;
  display: block;
  color: white;
}

.album-details #release-info {
  font-size: 1rem;
  display: block;
  color: white;
}
