/*  wrapper */

.App {
  text-align: center;
  width: 100%;
}

/*  header */

header {
  position: relative;
  background-color: black;
  min-height: 95px;
  margin-bottom: 0;
}

/*  Title */

.App-title {
  font-family: 'Avenir Next';
  font-size: 1em;
  color: white;
  position: relative;
  top: 25px;
  float: left;
}

.App-intro {
  font-size: large;
}

/*  topbar */

.topbar-left {
  float: left;
  top: 40px;
}

.topbar-right {
  float: right;
  margin-top: 20px;
}

/*  navigation */

nav {
  width: 950px;
  margin: 0 auto;
}

nav a {
  display: inline-block;
  padding: 0 20px;
  float: left;
  position: relative;
  transform: translateY(-50%);
  display: block;
  top: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Avenir Next';
}

nav a img {
  width: 75px;
}

/*  logo */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25px;
  position: relative;
  margin-top: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*  hero */

.hero {
  color: #4D4B56;
  padding: 80px 150px 80px 150px;
  max-width: 736px;
}
